/.metadata/

*.json
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/*  
!.vscode/settings.json  
!.vscode/tasks.json  
!.vscode/launch.json  
!.vscode/extensions.json  

# compiled output  
/dist  
/tmp  
/out-tsc  

  
# dependencies  
/node_modules  
  
# IDEs and editors  
/.idea  
.project  
.classpath  
.c9/  
*.launch  
.settings/  
*.sublime-workspace  
  
# misc  
/.sass-cache  
/connect.lock  
/coverage  
/libpeerconnection.log  
npm-debug.log  
yarn-error.log  
testem.log  
/typings  
/cache
node_modules/
tmp/
.angular/**
*.json  
# System Files  
.DS_Store  
Thumbs.db  